.customButton {
  margin: 10px 12.5px
}

.standard-margin-right-left {
  width: calc(100% - 200px);
  margin: 0 auto;
}

footer {
  height: 100px;
  padding: 25px;
  box-sizing: border-box;
}

.App {
  /* 100vh - footer and navbar height */
  min-height: calc(100vh - 200px); 
}